@import 'variables';

.mt-4 {
  width: 50%;
}

.card-course-item {
  margin-top: 20px;
}

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-right: 4px;
}

.web-logo {
  width:30px;
}

.checkbox-select-all-options {
  width: 180px;
  margin: 10px 20px;
}